.btnResize{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top : 0px;
    left : 0px;
    transition: background-color 1s ease-out;
}
#parentCanvas:hover .btnResize{
    background-color: rgba(52, 235, 219,0.5);
    transition: background-color 1s ease;
}

#portalCanvas{
    transform-origin: 0 0 ;
}
img::selection{
background: transparent;
}